<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a [routerLink]="['/']">HOSPProject</a>
    </div>
    <ul class="navbar-menu">
      <li>
        <a [routerLink]="['/']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          Home
        </a>
      </li>
      <ng-container *ngIf="currentUser$ | async as user; else notLoggedIn">
        <li>
          <a [routerLink]="['/dashboard']" routerLinkActive="active">
            Dashboard
          </a>
        </li>
        <li class="user-info">
          <span class="username">{{ user.username }}</span>
        </li>
        <li>
          <button class="btn-logout" (click)="logout()">
            Logout
          </button>
        </li>
      </ng-container>
      <ng-template #notLoggedIn>
        <li>
          <a [routerLink]="['/']" routerLinkActive="active">
            Login
          </a>
        </li>
        <li>
          <a [routerLink]="['/register']" routerLinkActive="active">
            Register
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
