<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a [routerLink]="['/dashboard']">HOSPProject</a>
    </div>
    <ul class="navbar-menu">
      <ng-container *ngIf="currentUser$ | async as user; else notLoggedIn">
        <li>
          <a [routerLink]="['/dashboard']" routerLinkActive="active">
            Dashboard
          </a>
        </li>
        <li class="user-info">
          <span class="user-icon">👤</span>
          <span class="username">{{ user.username }}</span>
        </li>
        <li>
          <button class="btn-logout" (click)="logout()">
            Logout
          </button>
        </li>
      </ng-container>
      <ng-template #notLoggedIn>
        <li>
          <a [routerLink]="['/']" routerLinkActive="active">Login</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
